{
    'extends': [
        'eslint:recommended',
        'semistandard'
    ],
    'env': {
        'browser': true,
        'node': true,
        'es6': true,
        'mocha': true,
        'jasmine': true
    },
    'globals': {
        'atom': true
    },
    'parser': 'esprima',
    'parserOptions': {
        'sourceType': 'module'
    },
    'rules': {
        'indent': ['error', 4],
        'brace-style': ['error', 'allman', { 'allowSingleLine': true }]
    }
}
